name: ci
on:
  pull_request:
    branches:
      - main
    paths-ignore:
    - '.github/**' # Ignore changes towards the .github directory
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0  
      - uses: actions/setup-python@v4
        with:
          python-version: 3.x
      - run: pip install wheel
      - run: pip install -r requirements.txt
      # - run: mkdocs build --strict
      - run: mkdocs build
